<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title> ✈なんでも実況(ムー大陸)＠おーぷぬ バナー集</title>
    
    <link rel="icon" href="favicon.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="manifest.webmanifest">
</head>
<body>
    <!-- <section>
        <div class="container is-fluid is-flex is-flex-wrap-wrap is-justify-content-space-around is-align-items-center is-align-content-center">
            {% for banner in banners %}
            <figure class="image">
                <img src="{{ banner }}" alt="banner{{ loop.index }}" class="my-2">
            </figure>
            {% endfor %}
        </div>
    </section> -->
    <!-- 対立煽りでよそ様に迷惑かけておいて荒らしのない板ですとは言えんやろ。。。<br />
    なのでそういった文言のあるバナーは一時お休みします。<br />
    言いたいことがあればissueで聞きます。場所は自分で探してください。<br />
    追記：issue見ました。ありがとうございます。<br />
    バナーは近々復旧します。<br /> -->
    <!-- バナー作者へ：ファイルは保存してます。そのうち復旧するでしょう。<br />
    さとMuへ：すまんけどワイは疲れた。数日おらんかも。数日後に気が向いたら元に戻します。<br />
    サーバーからは基本おーぷぬのデフォルトバナーを配信しとくからURLはそのままで大丈夫。<br />
    ただしどうしてもというなら例の初期に使ってたgifに差し替えてください。<br />
    騒動を主導した冒険主義者へ：何か言うことないですか？もし思いついたらissueでお待ちしてます。<br /> -->
    ある方からお詫びを頂き、また徐々に沈静化しつつあると思われるので再開しました。<br />
    お詫びの内容含め、詳細は追ってこのページに記載します。もうちょっと待ってね。<br />
</body>
</html>
