<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title> ✈なんでも実況(ムー大陸)＠おーぷぬ バナー集</title>
    
    <link rel="icon" href="favicon.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="manifest.webmanifest">
</head>
<body>
    <!-- <section>
        <div class="container is-fluid is-flex is-flex-wrap-wrap is-justify-content-space-around is-align-items-center is-align-content-center">
            {% for banner in banners %}
            <figure class="image">
                <img src="{{ banner }}" alt="banner{{ loop.index }}" class="my-2">
            </figure>
            {% endfor %}
        </div>
    </section> -->
    対立煽りでよそ様に迷惑かけておいて荒らしのない板ですとは言えんやろ。。。<br />
    言いたいことがあればissueで聞きます。場所は自分で探してください<br />
    バナー作者へ：ファイルは保存してます<br />
</body>
</html>