<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <title>なんでも実況Muにおいて発生した騒動について</title>
        
        <link rel="icon" href="favicon.png">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="manifest" href="manifest.webmanifest">
    </head>
<body>
    <pre>
    こんにちは。
私は臨時緊急宣伝会議 というスレッドに書き込んでいた ID:ILVQです。
私の書き込みは以下のリンクから確認できます。
https://open.open2ch.net/test/read.cgi/1667553167/1673090875/?q=id%3AILVQ

私はこのスレッドにて、おーぷん2chの主要な板である「なんでも実況J(ジュピター)」(以下おんj)に、一般のユーザになりすまし自分たちが利用していた「なんでも実況Mu(ムー大陸)」(以下おんMu)の宣伝行為を行うことを提案してしまい、それが原因で大きな騒動を起こしてしまいました。
このような発言に至った経緯を説明致します。
元々おんjでは定期的に「おんj、終わる」というようなスレッドタイトルで民度に関するスレッドが自然に立てられていました。(以下民度スレ)
そして1部のおんMu利用者(以下ムー民)は民度スレに宣伝を行っているとのことでした。
私はそれについて、「民度スレに宣伝をしているのなら問題はない」と考えていました。
しかし1部のムー民は「一般人になりすまし民度スレを立てて宣伝を行う」という行為を既に行っていたそうです。私はそれを知らずに「宣伝を行っている人はあくまでもおんjの方々には迷惑をかけない範囲でを行っている」と考えていました。
そして「臨時緊急宣伝会議」というスレッドにて、とある方が「おんjを荒らしてその後におんMuを宣伝してみるのはどうか」というような発言をされていました。
私はそれに対して「荒らし行為を行うくらいならば、民度スレを自分たちで立て、そこで共感を得ることが出来たらおんMuを宣伝していくというのはどうか？」という提案を行いました。
そして宣伝会議のスレッド内で「そのようにしよう」という話になり、実際に宣伝部の方によって民度スレが作成されました。
私は当初、そこでおんMuの人口が増えず失敗に終わっても、おんjの人々は特に関心を持たず、おんMuに少し荒らしを行う人が現れる程度だと考えていました。
しかし実際にはおんjの方々の反感を買う結果となってしまいました。さらには一部のユーザの恨みを買ってしまい、おんMuの書き込みが監視されたり、グロテスクな画像や不快な画像を貼る、ゴキブリの絵文字を大量に連投するなどの荒らし行為を行うユーザをおんMuに招き入れてしまうという結果に繋がってしまいました。
これらの騒動は私が「一般ユーザに成りすましておんjを煽るようなスレッドを立てる」という考えを提案してしまったことが原因であると考えられます。
おんjの方々、おんMuの方々、バナーサイトを制作してくださったあなたへ。
ご迷惑をお掛けしてしまい、本当に申し訳ございませんでした。
当たり前ですが、私はこれ以上おんjに宣伝や迷惑行為などを行うつもりは一切ありません。
長文になってしまいましたが、1人の宣伝部参加者として謝罪をさせていただきます。
    </pre>
</body>
</html>